.App {
  width: 90%;
  margin: 0 auto;
  max-width: 550px;
}

h1 {
  text-align: center;
  color: darkred;
  font-weight: bold;
}

.search {
  position: relative;
  width: 100%;
  display: flex;
}

.search__input {
  width: 100%;
}

.search__add {
  float: right;
}

.dropdown {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 1px gray solid;
  width: 100%;
  top: 100%;
}

.dropdown__item {
  list-style-type: none;
  background: white;
  /*add an on hover and on click style*/
}

.card {
  border: 3px darkred solid;
  border-radius: 5px;
  margin-top: 1rem;
}

.card__header {
  display: flex;
  width: 100%;
}

.card__playerName {
  width: 100%;
  margin: 0 auto;
  border-bottom: 3px darkred solid;
  color: white;
  background-color: darkred;
  padding-left: 5px;
}

.card__button {
  color: white;
  background-color: darkred;
  border: none;
  border-bottom: 3px darkred solid;
  font-weight: bold;
  cursor: pointer;
}

.card__button:hover {
  font-size: 1em;
}

/* --- Responsive table styles ---*/

.card__table th {
  display: none;
}

.card__table td {
  display: block;
  padding: 5px 0 0 5px;
}

.card__table td:before {
  content: attr(data-th)': ';
  font-weight: bold;
  width: 80px;
  display: inline-block;
}

/*@media (min-width: 480px) {*/
/*.card__table {*/
/*table-layout: fixed;*/
/*width: 100%;*/
/*}*/

/*.card__table td:before {*/
/*display: none;*/
/*}*/

/*.card__table th,*/
/*.card__table td {*/
/*display: table-cell;*/
/*text-align: center;*/
/*border: 1px gray solid;*/
/*}*/
/*}*/
