.App {
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.search {
  position: relative;
  width: 100%;
  display: flex;
}

.search__input {
  width: 100%;
}

.search__add {
  float: right;
}

.dropdown {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 1px gray solid;
  width: 100%;
  top: 100%;
}

.dropdown__item {
  list-style-type: none;
  background: white;
  /*add an on hover and on click style*/
}

.card {
  border: 1px blue solid;
  margin-top: 1rem;
}

/* --- Responsive table styles ---*/

.card__data th {
  display: none;
}

.card__data td {
  display: block;
}

.card__data td:before {
  content: attr(data-th)': ';
  font-weight: bold;
  display: inline-block;
}

@media (min-width: 480px) {
  .card__data td:before {
    display: none;
  }

  .card__data th,
  .card__data td {
    display: table-cell;
  }
}
